Sprites/UI/FontLL.png
Sprites/Tilesets/Terrain/SkyLL.png
Sprites/Tilesets/Terrain/SnowLL.png
Sprites/Tilesets/Terrain/BeachLL.png
Sprites/Tilesets/Terrain/BonusLL.png
Sprites/Tilesets/Terrain/SpaceLL.png
Sprites/Backgrounds/Hills/BonusLL.png
Sprites/Tilesets/Terrain/AutumnLL.png
Sprites/Tilesets/Terrain/CastleLL.png
Sprites/Tilesets/Terrain/DesertLL.png
Sprites/Tilesets/Terrain/GardenLL.png
Sprites/Tilesets/Terrain/JungleLL.png
Sprites/Backgrounds/Hills/CastleLL.png
Sprites/Backgrounds/Hills/DesertLL.png
Sprites/Backgrounds/Skies/DaySkyLL.png
Sprites/Tilesets/Terrain/AirshipLL.png
Sprites/Tilesets/Terrain/VolcanoLL.png
Sprites/Backgrounds/Skies/SnowSkyLL.png
Sprites/Backgrounds/Skies/TheVoidLL.png
Sprites/Tilesets/Terrain/MountainLL.png
Sprites/Tilesets/Terrain/PipeLandLL.png
Sprites/Backgrounds/Skies/BeachSkyLL.png
Sprites/Tilesets/Deco/PipeLandDecoLL.png
Sprites/Tilesets/Terrain/OverworldLL.png
Sprites/Backgrounds/Hills/OverworldLL.png
Sprites/Backgrounds/Skies/AutumnSkyLL.png
Sprites/Tilesets/Terrain/GhostHouseLL.png
Sprites/Tilesets/Terrain/UnderwaterLL.png
Sprites/Backgrounds/Bushes/BeachBushLL.png
Sprites/Backgrounds/Hills/GardenHillLL.png
Sprites/Backgrounds/Skies/VolcanoSkyLL.png
Sprites/Tilesets/Terrain/CastleWaterLL.png
Sprites/Tilesets/Terrain/UndergroundLL.png
Sprites/Backgrounds/Hills/UndergroundLL.png
Sprites/Backgrounds/Hills/PipeLandNightLL.png
Sprites/Backgrounds/Hills/OverworldNightLL.png
Sprites/Backgrounds/Hills/GardenHillNightLL.png
Sprites/Backgrounds/SecondaryTrees/AirshipTreesLL.png
Sprites/Backgrounds/CloudOverlays/BeachCloudOverlayLL.png
Sprites/Backgrounds/CloudOverlays/NightCloudOverlayLL.png
Sprites/Backgrounds/CloudOverlays/AutumnCloudOverlayLL.png
Sprites/Backgrounds/SecondaryTrees/AirshipTreesNightLL.png
Sprites/Backgrounds/CloudOverlays/VolcanoCloudOverlayLL.png
Sprites/Backgrounds/CloudOverlays/AutumnNightCloudOverlayLL.png
Sprites/Backgrounds/CloudOverlays/UndergroundCloudOverlayLL.png
Sprites/Tilesets/LLDoors.png
Sprites/Tilesets/LLPDoors.png
Sprites/Tilesets/LLPlatform.png
Sprites/Tilesets/LLLockedDoors.png
Sprites/Backgrounds/Hills/DesertLLNight.png
Sprites/Backgrounds/Hills/SnowANN.png
Sprites/Backgrounds/Hills/JungleANN.png
Sprites/Backgrounds/Bushes/BeachBushLLNight.png
Sprites/Backgrounds/Hills/OverworldAlt.png
Sprites/Backgrounds/Hills/OverworldANN.png
Sprites/Backgrounds/Hills/SnowNightANN.png
Sprites/Backgrounds/Hills/BeachHillsNight.png
Sprites/Backgrounds/Hills/OverworldNightANN.png
Sprites/Tilesets/Terrain/VolcanoSP.png
Sprites/Tilesets/Terrain/CastleANN.png
Sprites/Tilesets/Terrain/JungleANN.png
Sprites/Tilesets/Terrain/OverworldANN.png
Sprites/Tilesets/Terrain/CastleWaterSP.png
Sprites/Tilesets/Terrain/CastleWaterANN.png
Sprites/Backgrounds/Bushes/JungleBushANN.png
Sprites/Items/FireFlowerSpecial.png
Sprites/Tilesets/Terrain/BeachSP.png
Sprites/Tilesets/Terrain/DesertANN.png
Sprites/Tilesets/Terrain/DesertSP.png
Sprites/Tilesets/Terrain/GardenSP.png
Sprites/Tilesets/Terrain/SnowANN.png
Sprites/Tilesets/Terrain/SpaceANN.png
Sprites/Tilesets/Terrain/SpaceSP.png
Sprites/Tilesets/Terrain/UndergroundANN.png
Sprites/Tilesets/Terrain/UnderwaterANN.png
Sprites/Tilesets/Terrain/UnderwaterSP.png
Sprites/UI/FontJPOld.png
Sprites/UI/FontLL.fnt
Sprites/UI/TitleSMB1.png
Sprites/UI/TitleSMBANN.png
Sprites/UI/TitleSMBLL.png
Sprites/UI/TitleSMBS.png
